<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
	 y="0px" viewBox="0 0 50 50" enable-background="new 0 0 50 50" xml:space="preserve"
	 ng-attr-id="flower-light-{{index}}">
<g>
	
		<image overflow="visible" width="382" height="405" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAX8AAAGYCAYAAACqBeJdAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABSFJREFUeNrs28FNI0EQhtE2IgiO
ToVIPIkgZDkRkwmhmJuzgB6QOIBB9oDH7v7fkxCnlVaz2q9qylAKAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA8D8WHgEteN0/DPXbcuIf3y7uNjtPEcSf
9oK/+kv869eLQQDiTxvR/0vwDQIQf0T/10FgCCD+cMHwP84UfUMA8fcICA+/IYD4Q3D4vw6BtQGA
+ENO+L0FIP4QGn5vAYg/BIffWwDiD6Hh9xZAl248AmY218/wn8P74KoDbOmfEfGH07b+1sNpACD+
ELT1GwCIP4Ru/QYA4g+hW78BgPhD6NZvACD+ELr1GwCIP2AAIP7wqfOTjwGA+MMPej/5GACIP/A5
AMQf8YfENx7bP+JPpLB7/6Ht3/kH8Sdz+y3Z5w8DAPGH4AEg/og/JL4B2f4Rf8jc/p1/EH8IHQDi
j/hDIOcfxB9Ct3/nH8QfQgeA+CP+EMj5B/GnT+G/3Wv7R/zJ3W4FzvaP+JPnqX7tPAbbP+JPkMXd
Ziv+tn/EH7D9I/6A7R/xB9s/iD/Y/kH8wfYP4g+2fxB/sP2D+IPtH8Sfy/JbvrZ/xJ80fssXxB84
jtMP4g+BhuL0g/gDIP60yIe+p3P6Qfxpmw99JxmK0w/iD4D4AyD+NMHd/3Tu/og/bXP3n2Qo7v6I
PwDiT4ucfkD8SeP0A+IPHMeHvog/XXD6Oc1QfOiL+NM6px8QfwDEnyBOPyD+pHH6AfHH9g+IP7Z/
DvDjnog/tv9AQ/Hjnog/tn9A/LH9A+KP7R8Qf2z/gPhj+wfEH9s/iD/Y/kH8wfYP4g8zbf9rA+Ab
b0WIPxEDQOi+vBHV5+KZIP70HzsDAMSfzO3f+QfEn9ABIP4g/gRy/gHxJ3T7d/4B8ccAiLM1/BB/
DIA8fswT8Sd+AIggiD+JW7ABAOJP5vafdP7xtoP4Q+AAcO9H/CFsANj6EX8IHAC2fsQfwgaArR/x
h8ABYOtH/CFsANj6EX8IHAC2fsQfJg6AVoeArZ95/894BPTmdf8w1G+P9WvZUPjXtn7EH3IGgPAj
/nCGATDGf3XFQ+C+hv/ZvxZzu/UI6Haz+fgcYBwCuyt9Cxj/fjZ+bP4Q8hYwRv9l/O7cg/hDxhAY
w+/Gj/hDyBCw7SP+cIVDoJxpEIg+4g9Bg0D0EX9ofBBMir/oAwAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPThTYABAFRMcvIcrFrwAAAAAElFTkSu
QmCC" transform="matrix(0.24 0 0 0.24 -26.7235 -34.8859)">
	</image>
</g>
<g>
	
		<image overflow="visible" width="382" height="405" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAYQAAAGYCAYAAABCqZUzAAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABDhJREFUeNrs3bFtg0AYhmHOUzAO
DOaKwWActsBHY0vIhQ0CDv7naVylOcl583FOUlUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAEElR8CVTOOzzy/Nyi9vU90NThEEgZgREAcQ
BIRAHEAQEAJhAEFADIQBBAExEAYQBMRAFEAQEANhAEFADEQBBAExEAYQBMRAFGAPD0cAq/Q5ao1j
wEKA2OvAUsBCACwFLASwDiwFLATAUsBCAOvAUsBCACwFBAEQBQLyyIhDBHlctOTxERYCYCkgCAAI
AmAlcGXuENhd0PuDJfcJWAiApYAgACAIgJWAIACigCAAIAiAlYAgAKKAIAAgCICVgCDAz/yWMggC
YCUgCPCR6q7NL4OTAEEArAQEAQBBAKwEBAEAQQCsBAQBAEEArAQEAQBBAKwEBAH+47eVQRAAEARg
I4+NEAQABAGAEyVHwFH8s5xV2lR3g2PAQgBAEAAQBABO4A6BQ7lHWMU9AhYCAIIAgCBwZ/6uEQgC
AIIAbOTvGiEI3JPHRiAIAAgCAIIAX3hsBIIAgCCAlQCCAGzlo6cIAlYCIAgACAJWAiAIAAgCVoKT
AEEAQBDASgBBAEAQwEqAwt5/joASTeOzzy+Nk3hrcyyFEgsBAEEg6nT16AgEAUQBBAEAQQArAQQB
RAHKeK85Aq4i8EdRfeQUCwEsBRAEAAQBrAQ45f3lCLiiQPcJ7g+wEMBSAAsBLAXrAAsBLAWwEMBS
sA6wEMBSAAsBLAXrAAsBLAWwEMBasA4QBBAFMUAQQBTEgIK5Q+D+P/XU3fzNdv7hxzdcsBCg6LVg
HSAIEDwMQoAggDCIAYIA0cMgBAgCBI+DECAIEDwOQgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABQnJcAAwAE3hfBbusFWQAAAABJRU5ErkJggg==" transform="matrix(0.24 0 0 0.24 -15.2016 -12.3048)">
	</image>
</g>
<g>
	
		<image overflow="visible" width="405" height="382" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZgAAAGECAYAAAALLza1AAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAA8RJREFUeNrs3cERhCAQRUG0CMJk
PZmsWWASDALTHQK17tvPwS0FAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAVnY4AuinvXcLe1ivx/OKwICgDHh4BQeB
AUERGwQGWCYqQoPAgKgIDQIDorLZAy40CAwIi8ggMCAsIgMCA7nDIjIIDAiLyCAwICwiAwKDsCAy
CAyIi8iwl+oIEBbAggFxsWKwYEBYwIIBcbFioLvTESAuQARXZAgLELOOHQHigmsyIrgiQ1wAgUFc
AIEBcQGBAXEBBAZxAQQGxAUEBsQFEBjEBRAYEBcQGAAQGKwXQGBAXEBgQFwAgQFgbl7RjfWS/UvA
q/qxYBAXQGAAsI4dAdZL4i8A12NYMAAIDFgvgMBAXq7HEBisF0BgAOsFBAaA2B8yjoARXI9ZL1gw
ACAwgPXCxJ83R0A012PiggUDAAIDWC8IDCAuCAwACAxgvSAwgLggMIC4gMAA4oLAAOKCwADiAgID
iAsCA4gLAgOICwgMiAsIDCAuZPmcOgJG8J8wwoIFA4gLWDBYMeIC86qOAIQFLBisGHEBCwYQFiwY
sGLEBQQGkREWWIMrMhAWsGCwYoQFBAZERlgQGBAaYQGBQWSEBQQG8oZGWEBgEBlRAYFBbEQFBAY2
DY2ggMAgOGICAgP/xUdEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAMb6BBgAdObZKzNmUZAAAAAASUVORK5CYII=" transform="matrix(0.24 0 0 0.24 -12.3048 -26.0665)">
	</image>
</g>
<g>
	
		<image overflow="visible" width="405" height="382" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAZgAAAGECAYAAAALLza1AAAACXBIWXMAAC4jAAAuIwF4pT92AAAA
GXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAABU9JREFUeNrs3UFugzAQhtEYcQgu
G2GLy3KLJFJyg2DDMO9tuutipPbTb1Xp9ACADiYnAEBgABAYAAQGAAQGAIEBQGAAQGAAEBgABAYA
BAYAgQFAYABAYAAQGAAEBgAEBgCBAUBgAEBgABAYAAQGAAQGAIEBQGAAQGAAEBgABAYABAYAgQFA
YABAYAAQGAAEBgAEBgCBAUBgAEBgABAYAAQGAAQGAIEBQGAAQGAAEBgABAYABAYAgQFAYABAYAAQ
GAAEBgAEBgCBAUBgAEBgABAYAAQGAAQGAIEBQGAAQGAAEBgABAYABAYAgQFAYABAYAAQGAAEBgAE
BgCBAUBgAEBgABAYAAQGAAQGAIEBQGAAQGAAEBgABAYABAYAgQFAYABAYAAQGAAEBgCBAQCBAUBg
ABAYABAYAAQGAIEBAIEBQGAAEBgAEBgABAYAgQEAgQFAYAAQGAAQGAAEBgCBAQCBAUBgABAYABAY
AAQGAIEBAIEBQGAAEBgAEBgABAYAgQEAgQFAYAAQGAAQGAAEBgCBAQCBAUBgABAYABAYAAQGAIEB
AIEBQGAAEBgAEBgABAYAgQEAgQFAYAAQGAAQGAAEBgCBAQCBAUBgABAYABAYAAQGAIEBAIEBQGAA
iG52AvjPa3/Wz5e107dvZdmqKxNRcQK4VFAEB4EBQTmd2CAwICpCg8CAqMQlNAgMiIrQIDAgLCID
AgPCIjIIDAiLyCAwICwiAwIDwiIyCAwIi8hwZz7sEnHJY/3dCIbwYZcIC2DBgLhYMVgwICxgwYC4
WDEgMIiLuEAQnsgQFsCCQVw4jGcyBAZxERcQGBAXQGAQF0BgEBdAYEBcAIFBXACBQVwAgQFxAQQG
cQEEBgCBAesFEBjEBRAYxAUQGAAEBqyXhFpZtuoMCAziAggMAAgM1ktOnscQGAAEBqwXQGAgMc9j
CAzWCyAwgPUCAgOAwBCc5zHrBYEBAIEBrBcEhsQ8j4kLCAwAAgNYLwgMIC4IDAAIDGC9IDCAuCAw
gLiAwADigsAA4oLAAOICAgOICwIDiAsCA4gLCAyICwgMIC4kVJyAXvxPGGHBggHEBQSGQPP4+4ux
uYS4kNPsBCAsYMFgxYgLWDCAsGDBgBUjLnD8z74TMIo/WxYWcvFEBsICFgxWjLCAwIDICAsCA0Ij
LCAwiIywgMBAutAICwgMIiMqIDCIjaiAwMBNQyMoIDAIjpiAwMB58RERAICofJoyAAIDgMAAIDAA
IDAACAwAAgMAAgOAwAAgMAAgMAAIDAACAwACA4DAACAwACAwAAgMAAIDAAIDgMAAIDAAIDAACAwA
AgMAAgOAwAAgMAAgMAAIDAACAwACA4DAACAwACAwAAgMAAIDAAIDgMAAIDAAIDAACAwAAgMAAgOA
wAAgMAAgMAAIDAACAwACA4DAACAwACAwAAgMAAIDAAIDgMAAIDAAIDAACAwAAgMAAgOAwAAgMAAg
MAAIDAACAwACA4DAACAwACAwAAgMAAIDAAIDgMAAIDAAIDAACAwAAgMAAgOAwAAgMAAgMAAIDAAC
AwACA4DAACAwAAgMAAgMAAIDgMAAgMAAIDAACAwACAwAAgOAwACAwAAgMAAIDAAIDAACA4DAAIDA
ACAwAAgMAAgMAAIDgMAAgMAAIDAACAwACAwAAgOAwACAwAAgMAAIDAAIDAACA4DAAIDAACAwAAgM
AAgMAAIDgMAAgMAAIDAACAwACAwAAgOAwACAwAAgMAAIDAAIDAACA4DAAIDAACAwAAgMAAgMAAID
gMAAgMAAIDAACAwACAwAAgOAwACAwAAwzFuAAQAzyRRwCcv8agAAAABJRU5ErkJggg==" transform="matrix(0.24 0 0 0.24 -34.8859 -14.5446)">
	</image>
</g>
</svg>
