<svg version="1.1" id="sun-canvas" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
<radialGradient id="sun-center_1_" cx="12.6093" cy="12.5466" r="5.5731" gradientUnits="userSpaceOnUse">
	<stop  offset="0" style="stop-color:#FFEDA0"/>
	<stop  offset="1" style="stop-color:#FFE15C"/>
</radialGradient>
<circle id="sun-center_2_" fill="url(#sun-center_1_)" cx="12.6" cy="12.5" r="5.6"/>
<g id="sun-rays">
	<polygon opacity="0.6" fill="#FFF4C2" points="11.2,6.2 14,6.2 12.6,3.1 	"/>
	<polygon opacity="0.6" fill="#FFF4C2" points="14,18.8 11.2,18.8 12.6,21.9 	"/>
	<polygon opacity="0.6" fill="#FFF4C2" points="18.8,11.2 18.8,13.9 22.3,12.5 	"/>
	<polygon opacity="0.6" fill="#FFF4C2" points="6.2,13.9 6.2,11.2 2.7,12.5 	"/>
	<polygon opacity="0.6" fill="#FFF4C2" points="16.1,7.3 18.1,9.3 19.8,5.7 	"/>
	<polygon opacity="0.6" fill="#FFF4C2" points="9.3,18.1 7.3,16.2 5.6,19.8 	"/>
	<polygon opacity="0.6" fill="#FFF4C2" points="7.1,9 9.1,7.1 5.4,5.4 	"/>
	<polygon opacity="0.6" fill="#FFF4C2" points="18,16 16,17.9 19.7,19.7 	"/>
</g>
</svg>
